<div class="container h-100">
  <div class="row h-100">
    <div class="col-xl-6 offset-xl-3 col-12 text-center helper-div">
      <span class="helper"></span>
      <div class="vertical-center pt-5 pb-5 shadow" style="height: fit-content;">
        <h1 class="display-2">We Accept</h1>
        <img src="https://i.ytimg.com/vi/i09C02151PI/maxresdefault.jpg" alt="Credit Cards" class="w-75">
        <button mat-raised-button color="primary" class="w-75" [routerLink]="['/pay']">Pay Now</button>
      </div>
    </div>
  </div>
</div>
